{% extends '/auth/layouts/main.html.twig' %}
{% block content %}
    <div class="row align-items-center h-100-vh">
        <div class="col-lg-6 d-none d-lg-block p-t-b-25">
            <img class="img-fluid" src="assets/media/svg/login.svg" alt="...">
        </div>
        <div class="col-lg-4 offset-lg-1 p-t-b-25">
            <div class="d-flex align-items-center m-b-20">
                <img src="assets/media/image/dark-logo.png" class="m-l-15" width="40" alt="">
                <h3 class="m-0">ورود به حساب</h3>
            </div>
            <p>برای ادامه وارد شوید.</p>
            <form action="{{ path('auth.login') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="username">ایمیل</label>
                <input type="email" name="_username" id="username" class="form-control"
                       autocomplete="email" required autofocus>
                <label for="password">رمز عبور</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="checkbox mb-2 mt-md-2">
                    <label>
                        <input type="checkbox" name="_remember_me">
                        مرا فراموش نکن
                    </label>
                </div>
                <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4" type="submit">
                     ورود
                </button>
            </form>
        </div>
    </div>
{% endblock %}
