{% extends '/auth/layouts/main.html.twig' %}
{% block content %}
    <div class="row align-items-center h-100-vh">
        <div class="col-lg-6 d-none d-lg-block p-t-b-25">
            <img class="img-fluid" src="assets/media/svg/register.svg" alt="...">
        </div>
        <div class="col-lg-4 offset-lg-1 p-t-25 p-b-10">
            <h3>ثبت نام</h3>
            <p>ایجاد حساب کاربری جدید</p>
            <form>
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" autofocus placeholder="نام">
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" autofocus placeholder="نام خانوادگی">
                </div>
                <div class="form-group mb-4">
                    <input type="email" class="form-control form-control-lg" placeholder="ایمیل">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <input type="password" class="form-control form-control-lg" placeholder="رمز عبور">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <input type="password" class="form-control form-control-lg" placeholder="رمز عبور">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch" checked>
                        <label class="custom-control-label" for="customSwitch">با قوانین و مقررات موافقم.</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">ایجاد حساب</button>
                <p class="text-left">
                    <a href="#" class="text-underline">حساب کاربری دارید؟</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
